body {
  background-color:#ffffff
}


@media only screen and (max-width: 600px) {
  body {
    background-color:white;
  }
}
.display-2{
  font-size: 32px;
  font-weight: bold;
}
.display-3{
  font-size:26px;
  font-weight: bold;
}
.jumbotron{
  background-color:lightgray;
  margin: 20px;

.jumbotron2{
  background-color:white;
  margin: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
p{
  font-size: 15px;
}
.dataframe{
  max-width: 100%;
}
.visualization{
  width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: white;
}
.box2{
  font-size:15px;
  color:black;
  background: #fff;
  margin-top: 50px; 
  margin-bottom: 62px; 
  padding: 20px; 
  }